



<h1> About App Page </h1>


<div style="background-color:aqua">
<h2>  Name : @ViewBag.appName</h2>
<h2>  Developer : @ViewBag.appDeveloper</h2>
<h2>  Team Size : @ViewBag.appTeamSize</h2>
<h2>  Is Live : @ViewBag.appIsLive</h2>
</div>